<div class="row">
<div class="col-sm-2">
	<div ng-controller="trendingController" ng-init="getTrendingCuisineList();">
	<h4 class="trending"> TRENDING CUISINES</h4>
	<div ng-repeat="trending in trendingCuisines">
		<md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline smallfont">{{trending[0]}}</span>
            <span class="md-subhead">{{trending[4]}}</span>
            <span class="md-subhead">Rating : <span class="label label-pill label-success">{{trending[2]}}</span></span>
          </md-card-title-text>
           <md-card-title-media>
            <div class="md-media-sm card-media"><img src="{{trending[5]}}"/></div>
          </md-card-title-media>
        </md-card-title>
      </md-card>
	</div>
	</div>
	</div>
<div class="col-sm-2">
	<div ng-controller="trendingController" ng-init="getTrendingDishesList();">
	<h4 class="trending"> TRENDING DISHES</h4>
	<div ng-repeat="trending in trendingdishes">
		<md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline smallfont">{{trending[3]}}</span>
            <span class="md-subhead">{{trending[4]}}</span>
            <span class="md-subhead">Rating : <span class="label label-pill label-success">{{trending[1]}}</span></span>
          </md-card-title-text>
          <!-- <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media> -->
        </md-card-title>
      </md-card>
	</div>
	</div>
	</div>
	</div>