
	<div  ng-cloak >
	
		<md-content> <md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="Search Restaurants">
		<h1 class="md-display-2">Search Restaurant</h1>
		<div class="search-container container-fluid"
			ng-controller="searchController" ng-cloak>

			<div class="search-box-container" layout-gt-sm="row">
				<md-input-container class="md-block input-search" flex-gt-sm>
				<span class="search-box-label"> <label class="input-search">Enter Restaurant Name to search</label>
				</span> 
				<span class="search-box-input"><input ng-model=searchOption.searchToken> </md-input-container>
				</span>
				<md-input-container class="md-block input-search" flex-gt-sm>
				<md-button class="md-raised md-primary search-button"
					ng-click="searchRestaurants(searchOption.searchToken)"> <i
					class="fa fa-search" aria-hidden="true"></i> </md-button> </md-input-container>
			</div>

		<md-content class="md-padding search-result-content"
				layout-xs="column" layout="row" ng-if=RestaurantSearchResult.length >0">
			<div class="search-result-row" ng-repeat="result in RestaurantSearchResult">
				<div flex-xs flex-gt="50" layout="column" class="card-container">
					<md-card> <md-card-title> <md-card-title-text>
						<span class="md-headline"><a ui-sref="restaurant({ restId: result.restaurant_ID })">
						{{result.rest_name}}</a>
						</span> 
						<span class="md-subhead">City : {{result.city}}</span>
						<span class="md-subhead">ZipCode : {{result.zipcode}}</span>
						</md-card-title-text> </md-card-title>
						<md-button ng-click="showOnMap($event,result)">View on Map
					</md-button>
					</md-card>
				</div>
			</div>
			</md-content>
			<div class="no-search-results" ng-if="RestaurantSearchResult.length ===0">

				There is no results from search, Search another Restaurant.
			</div>
		</div>			
		</md-tab>
		<md-tab label="Search Cuisines"> <md-content
			class="md-padding">
		<h1 class="md-display-2">Search Cuisines</h1>
		<div class="search-container container-fluid"
			ng-controller="searchController" ng-cloak>

			<div class="search-box-container" layout-gt-sm="row">
				<md-input-container class="md-block input-search" flex-gt-sm>
				<span class="search-box-label"> <label class="input-search">Enter Cuisine Name to search</label>
				</span> 
				<span class="search-box-input"><input ng-model=searchOption.searchToken> </md-input-container>
				</span>
				<md-input-container class="md-block input-search" flex-gt-sm>
				<md-button class="md-raised md-primary search-button"
					ng-click="searchCuisine(searchOption.searchToken)"> <i
					class="fa fa-search" aria-hidden="true"></i> </md-button> </md-input-container>
			</div>
			
			

			<md-content class="md-padding search-result-content"
				layout-xs="column" layout="row" ng-if="cuisineSearchResult.length >0">


			<div class="search-result-row" ng-repeat="result in cuisineSearchResult">
				<div flex-xs flex-gt="50" layout="column" class="card-container">
					<md-card> <md-card-title> <md-card-title-text>
					<span class="md-headline"><a ui-sref="restaurant({ restId: result.restaurant.restaurant_ID })">
					{{result.restaurant.rest_name}}</a>
					</span> <span
						class="md-subhead">Cuisine : {{result.cuisine_name}}</span> <span
						class="md-subhead"> Rating : <span
						class="label label-pill label-danger" ng-if="result.rating <2.5">{{result.rating | number: 2}}</span>
						<span class="label label-pill label-success"
						ng-if="result.rating >=4">{{result.rating | number: 2}}</span> <span
						class="label label-pill label-warning"
						ng-if="result.rating >=2.5 && result.rating < 4 ">{{result.rating | number: 2}}</span>
					</span> <span class="md-subhead">City : {{result.restaurant.city}}</span>
					</md-card-title-text> </md-card-title> <md-card-actions layout="row" layout-align="center">
					<md-button ng-click="showCuisineDetail($event,result)">View Cuisine
					Detail</md-button></md-card-actions> </md-card>
				</div>
			</div>
			</md-content>

			<div class="no-search-results" ng-if="cuisineSearchResult.length ===0">

				There is no results from search, Search another cuisine.</div>
		</div>
		</md-content> </md-tab> <md-tab label="Search Dishes"> <md-content
			class="md-padding">
		<h1 class="md-display-2">Search Dishes</h1>
			<div class="search-container container-fluid"
			ng-controller="searchController" ng-cloak>

			<div class="search-box-container" layout-gt-sm="row">
				<md-input-container class="md-block input-search" flex-gt-sm>
				<span class="search-box-label"> <label class="input-search">Enter
						Dish Name to search</label>
				</span> 
				<span class="search-box-input"><input ng-model=dishSearchOption.dishSearchToken> </md-input-container>
				</span>


				<md-input-container class="md-block input-search" flex-gt-sm>
				<md-button class="md-raised md-primary search-button"
					ng-click="searchDish(dishSearchOption.dishSearchToken)"> <i
					class="fa fa-search" aria-hidden="true"></i> </md-button> </md-input-container>

			</div>

			<md-content class="md-padding search-result-content"
				layout-xs="column" layout="row" ng-if="dishSearchResult.length >0">


			<div class="search-result-row" ng-repeat="result in dishSearchResult">
				<div flex-xs flex-gt="50" layout="column" class="card-container">
					<md-card> <md-card-title> <md-card-title-text>
					<span class="md-headline"><a ui-sref="restaurant({ restId: result.cuisine.restaurant.restaurant_ID })"> {{result.cuisine.restaurant.rest_name}}</a></span> <span
						class="md-subhead">Cuisine : {{result.cuisine.cuisine_name}}</span>
						<span
						class="md-subhead">Dish : {{result.dish_name}}</span> <span
						class="md-subhead"> Rating : <span
						class="label label-pill label-danger" ng-if="result.rating <2.5">{{result.rating | number: 2}}</span>
						<span class="label label-pill label-success"
						ng-if="result.rating >=4">{{result.rating | number: 2}}</span> <span
						class="label label-pill label-warning"
						ng-if="result.rating >=2.5 && result.rating < 4 ">{{result.rating | number: 2}}</span>
					</span> 
					<span class="md-subhead">Price : {{result.dishPrice | currency}}</span>
					<span class="md-subhead">City : {{result.cuisine.restaurant.city}}</span>
					</md-card-title-text> </md-card-title> <md-card-actions layout="row" layout-align="center">
					<md-button ng-click="showDishDetail($event,result)">View
					Dish Detail</md-button> </md-card-actions> </md-card>
				</div>
			</div>
			</md-content>

			<div class="no-search-results" ng-if="dishSearchResult.length ===0">

				There is no results from search, Search another dish.</div>
		</div>
		</md-content> </md-tab> </md-tabs> </md-content>
	</div>
</div>

