<md-dialog aria-label="Cuisine Detail">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{currentItem.cuisine.restaurant.rest_name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      <div class="md-subhead">
      Cuisine: {{currentItem.cuisine.cuisine_name}}
      </div>
      <div class="md-subhead">
      Cuisine: {{currentItem.dish_name}}
      </div>
      
      	<div class="md-subhead">
            Rating :  {{currentItem.rating}}
            <span class="label label-pill label-danger" ng-if="result.rating <2.5">{{currentItem.rating}}</span>
            <span class="label label-pill label-success" ng-if="result.rating >=4">{{currentItem.rating}}</span>
            <span class="label label-pill label-warning" ng-if="result.rating >=2.5 && result.rating < 4 ">{{currentItem.rating}}</span>
     </div>
     <div class="reviews-container">
     Comments
     <div ng-repeat="dishReview in currentItem.dishReviews">
     	<div>{{dishReview.dishCommentDesc}}</div>
     </div>
     </div>
      </div>
      </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>