<md-dialog aria-label="Cuisine Detail">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{currentItem.cuisine.restaurant.rest_name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="glyphicon glyphicon-remove" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      <div class="md-subhead">
      Cuisine: {{currentItem.cuisine.cuisine_name}}
      </div>
      <div class="md-subhead">
      Cuisine: {{currentItem.dish_name}}
      </div>
      
      	<div class="md-subhead">
            <span class="label label-pill label-danger" ng-if="currentItem.rating <2.5">{{currentItem.rating | number:2}}</span>
            <span class="label label-pill label-success" ng-if="currentItem.rating >=4">{{currentItem.rating | number:2}}</span>
            <span class="label label-pill label-warning" ng-if="currentItem.rating >=2.5 && currentItem.rating < 4 ">{{currentItem.rating | number:2}}</span>
     </div>
     <div class="reviews-container">
     Comments
     <div ng-repeat="dishReview in currentItem.dishReviews">
     	<div>{{dishReview.userName}}</div>
     	<div>{{dishReview.dishCommentDesc}}</div>
     </div>
     </div>
      </div>
      </md-dialog-content>
  </form>
</md-dialog>