<html>

<head>
<title>My Profile</title>

<link
	href="/css/bootstrap.min.css"
	rel="stylesheet" />
<link
	href="/css/profile.css" rel="stylesheet">

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css"
	href="/css/sweetalert.css" rel="stylesheet" />
	
	
	<style>
body {
	padding-top: 70px;
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
		
</style>
</head>
<body ng-app="cuisinerating" ng-controller="accountController">
<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/html/home.html">Home</a></li>
					<li><a href="/html/profile.html">MyProfile</a></li>
					<li><a data-ng-click="logout()">Logout</a></li>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	
<div class="container profile" ng-init="getCurrentUser()">

	<form name="userProfileForm">
	  
    <br/>
    First Name:<input type="text" class="form-control" name="firstname" id="firstname" placeholder="First name" ng-disabled=true ng-model="currentUser.firstName">
	<br/>
    Last Name:<input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last name" ng-disabled=true ng-model="currentUser.lastName"> 	
    <br/>
    Contact No:<input type="tel" class="form-control" name="contact" id="contact" placeholder="Contact number" ng-disabled=true ng-model="currentUser.contactNo">
    <br/>
    Email ID:<input type="email" class="form-control" name="email" id="email" placeholder="Email id" ng-disabled=true ng-model="currentUser.email">
       
  </form>
</div>

<script src="/js/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/sweetalert.min.js"></script>
<script src="/js/angular.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="/js/angular-material.min.js" type="text/javascript"></script>
<script src="/js/app.js" type="text/javascript"> </script>
<script src="/js/directive.js" type="text/javascript"> </script>
<script src="/js/account/accountService.js" type="text/javascript"> </script>
<script src="/js/account/accountController.js" type="text/javascript"> </script>

</body>
</html>