<html>
<head>
<title>Home</title>

<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/home.css" rel="stylesheet">
<link href="/css/angular-material.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="/css/sweetalert.css"
	rel="stylesheet" />

<style>
.listdiv{
width: 55% !important;
margin-left : 22% !important;
border :1px solid #b8c3dc;
}
.modal-comment-button{
margin-right: auto;
max-width: 30%;

}
md-dialog-actions
{
 margin-top:-7%;
 margin-left:1%;
}
</style>
</head>
<body  >
<md-list  ng-cloak class="listdiv">
<!-- <md-subheader class="md-no-sticky">Passage to India</md-subheader> -->
<md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span class="md-headline">{{restaurantDetail.rest_name}}</span>
      </div>
    </md-toolbar>
    <md-subheader class="md-no-sticky">Address : {{restaurantDetail.address}} {{restaurantDetail.city}}, {{restaurantDetail.zipcode}}<br/>
    Contact : {{restaurantDetail.contact}} <br/>
    Timing : {{restaurantDetail.openTime}}
     </md-subheader>
<div ng-repeat="cuisineRow in restaurantDetail.cuisines | orderBy:'cuisine_name'">
  <md-list-item>
	<div class="col-sm-8"><b>{{cuisineRow.cuisine_name}}</b></div>
	<!-- <div class="col-sm-4"><b>{{cuisineRow.cuisine_name}}</b></div> -->
	<div class="col-sm-4"><span class="label label-pill label-danger" ng-if="cuisineRow.rating <2.5" title="Rating">{{cuisineRow.rating | number: 2}}</span>
	   <span class="label label-pill label-success"	ng-if="cuisineRow.rating >=4" title="Rating">{{cuisineRow.rating | number: 2}}</span> 
	   <span class="label label-pill label-warning"	ng-if="cuisineRow.rating >=2.5 && cuisineRow.rating < 4" title="Rating">{{cuisineRow.rating | number: 2}}</span>
	</div>
    <md-menu class="md-secondary">
      <md-button class="md-icon-button">
        <i class="fa fa-bars" aria-hidden="true" title="Actions"></i>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item>
          <md-button ng-click="showAdvanced($event,cuisineRow)">
            Rate
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="showCuisineReviews($event,cuisineRow)">
            View Reviews
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="addCuisineReviews($event,cuisineRow)">
            Add reviews
          </md-button>
        </md-menu-item>
      </md-menu-content>
     </md-menu>
	</md-list-item>
	<div ng-repeat="dishRow in cuisineRow.dish | orderBy:'dish_name'">
  <md-list-item>
	<div class="col-sm-4">{{dishRow.dish_name}}</div>
	<div class="col-sm-4" title="Price">${{dishRow.dishPrice}}</div>
	<div class="col-sm-4">
	<span class="label label-pill label-danger" ng-if="dishRow.rating <2.5" title="Rating">{{dishRow.rating | number: 2}}</span>
	<span class="label label-pill label-success" ng-if="dishRow.rating >=4" title="Rating">{{dishRow.rating | number: 2}}</span> 
	<span class="label label-pill label-warning" ng-if="dishRow.rating >=2.5 && dishRow.rating < 4" title="Rating">{{dishRow.rating | number: 2}}</span>
	</div>
    <md-menu class="md-secondary">
      <md-button class="md-icon-button">
       <i class="fa fa-bars" aria-hidden="true" title="Actions"></i>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item>
          <md-button ng-click="rateDish($event,dishRow)">
            Rate
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="showDishReviews($event,dishRow)">
            View Reviews
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="addDishReviews($event,dishRow,cuisineRow.cuisine_ID)">
            Add reviews
          </md-button>
        </md-menu-item>
      </md-menu-content>
     </md-menu>
	</md-list-item>
</div>
<md-divider></md-divider>
</div>
 </md-list>

	<!-- <script src="/js/jquery.js"></script> -->
	<script src="/js/sweetalert.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!-- <script src="/js/angular.min.js" type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script src="/js/angular-material.min.js" type="text/javascript"></script> -->
	<!-- <script src="/js/app.js" type="text/javascript"></script> -->
<!-- 	<script src="/js/cuisine/cuisineService.js"></script>
	<script src="/js/cuisine/cuisineController.js"></script>
	<script src="/js/dish/dishService.js"></script>
	<script src="/js/dish/dishService.js"></script> -->
</body>
</html>