<md-dialog aria-label="Cuisine Detail">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2> Cuisine: {{currentCuisine.cuisine_name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="glyphicon glyphicon-remove" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
     <div class="reviews-container">
     <b>Comments-</b>
     <div ng-repeat="cuisineReview in currentCuisine.cuisineReviews">
     	<div>{{cuisineReview.userName}} says "{{cuisineReview.cuisineCommentDesc}}"</div>
     	<md-divider></md-divider>
     </div>
     </div>
      </div>
      </md-dialog-content>
  </form>
</md-dialog>