<md-dialog aria-label="Cuisine Detail">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2> Cuisine: {{currentCuisine.cuisine_name}}</h2>
        <span flex></span>
        <!-- <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button> -->
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
     <div class="reviews-container">
     <b>Comments</b>
     <div ng-repeat="cuisineReview in currentCuisine.cuisineReviews">
     	<div>{{cuisineReview.cuisineCommentDesc}}</div>
     	<md-divider></md-divider>
     </div>
     </div>
      </div>
      </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>