<div class="container">

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>My Profile</h3>
      <hr>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">
     <div class="container profile" >

	<form name="userProfileForm">
	  
    <br/>
    First Name:<input type="text" class="form-control" name="firstname" id="firstname" placeholder="First name" ng-disabled=true ng-model="user.givenName">
	<br/>
    Last Name:<input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last name" ng-disabled=true ng-model="user.surname"> 	
    <br/>
    Email ID:<input type="email" class="form-control" name="email" id="email" placeholder="Email id" ng-disabled=true ng-model="user.email">
       
  </form>
</div>
    </div>
  </div>
</div>
</div>
