
a {
	cursor:pointer;
}

.search-box-container {
    max-width: 80%;
    min-width: 30%;
    margin-left: 30%;
    margin-right: 10%;
}

h1{
	text-align:center;
}
.input-search
{
	max-width:50%;
	
}

.search-button {
    margin-top: -1% !important;
}

.search-result-content
{
	padding-left:2%;
	padding-right:2%;
	background-color:#101010;
}

.card-container
{
	min-width:330px;
}

.no-search-results
{
	text-align:center;
}
