.input[type=button],input[type=submit]
{
    width: 100% !important;
    max-width: 35% !important;
    margin: auto !important;
    padding-right: 10px !important;
    margin: 10px !important;
}

.login-container {
    max-width: 20% !important;
    margin: 0 auto !important;
}

.form-actions {
    margin-top: 3% !important;
}
body {
	padding-top: 70px;
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	background-image : url("/css/Images/backgroundImg.PNG");
}